@charset "UTF-8"; @import url(fonts.css);

body{
    background-image: url(../imagens/fundo-body.png);
    background-position: center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    margin: 0;
}

#folha-de-papel{
    display: flex;
    flex-direction: column;
    background-color: #fffaf0; 
    width: 70%;
    max-width: 800px; 
    min-width: 300px; 
    height: 70vh;     
    max-height: 600px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    padding: 2em;
    overflow-y: auto;
    box-sizing: border-box;
}

#folha-de-papel h1{
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-size: 1.1em;
  font-family: "Momo Trust Display", sans-serif;
  text-align: center;
  border-radius: 3px;
  background-image: linear-gradient( 127deg , rgb(255, 216, 216),  transparent  );
  padding: 3px;
  box-shadow: 0px 2px 5px 0px  black;
  border: 1px solid rgb(167, 167, 167);
}

#folha-de-papel p{
    font-family:   "Itim", cursive;
    position: relative;
    margin: 1.5em 0;
    line-height: 1.6em; 
    font-size: 1.1em;
    z-index: 1;
    text-align: justify;
}

#folha-de-papel p::before{
    content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 1.35em,
    rgba(150, 170, 200, 0.9) 1.55em
  );
  background-size: 100% 1.6em;
  z-index: -1;
  border-radius: 8px;
}


@media (max-width: 600px) {
  #folha-de-papel{
    width: 90%;
    padding: 1.5em;
    height: 80vh;
  }

  #folha-de-papel > p{
     font-size: 0.95em;
    line-height: 1.5em;
  }
 }

 @media screen and (min-width:768px){
  #folha-de-papel h1{
  color: black;
  letter-spacing: 1px;
  font-size: 1.6em;
  font-family: "Momo Trust Display", sans-serif;
  text-align: center;
}
 }