@charset "UTF-8"; @import url(fonts.css);

body{
    background-image: url(../imagens/fundo-body.png);
    background-position: center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    margin: 0;
}

#folha-de-papel{
    display: flex;
    flex-direction: column;
    background-color: #fffaf0; 
    width: 70%;
    max-width: 800px; 
    min-width: 300px; 
    height: 70vh;     
    max-height: 600px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    padding: 2em;
    overflow-y: auto;
    box-sizing: border-box;
}

#folha-de-papel h1{
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-size: 1.1em;
  font-family: "Momo Trust Display", sans-serif;
  text-align: center;
  border-radius: 3px;
  background-image: linear-gradient( 127deg , rgb(255, 216, 216),  transparent  );
  padding: 3px;
  box-shadow: 0px 2px 5px 0px  black;
  border: 1px solid rgb(167, 167, 167);
}

#folha-de-papel p{
   font-family: "Itim", cursive;
    position: relative;
    margin: 1.2em 0;
    line-height: 1.6em;  
    font-size: 1.1em;
    z-index: 1;
    text-align: justify;
}

#folha-de-papel p::before{
   content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(150,170,200,0.9) 2px, transparent 2px);
    background-size: 100% 1.6em;   
    background-repeat: repeat-y;
    z-index: -1;
}

.final-img {
    display: block;
    max-width: 80%;      
    height: auto;        
    margin: 1.5em auto 0 auto;  
    border-radius: 8px;  
}

.image-frame {
    max-width: 90%;           
    margin: 20px auto;        
    padding: 12px;            
    background: #f5ecd8;      
    border: 8px solid #a57a52; 
    border-radius: 12px;     
    box-shadow: 0 4px 12px rgba(0,0,0,0.25); 
}

.image-frame img {
    width: 100%;             
    height: auto;            
    border-radius: 6px;      
    display: block;
}

aside{
  background-color: black;
  width: 100%;
}

#footer{
  background-color: white;
  padding: 5px;
  color: black;
  font-size: 1.2em;
  text-align: center;
  font-family: "Momo Trust Display", sans-serif;
  text-decoration: underline;
}


@media (max-width: 600px) {
  #folha-de-papel{
    width: 90%;
    padding: 1.5em;
    height: 80vh;
  }

  #folha-de-papel > p{
      font-size: 1em;
      line-height: 1.6em; 
  }
 }

 @media screen and (min-width:768px){
  #folha-de-papel h1{
  color: black;
  letter-spacing: 1px;
  font-size: 1.6em;
  font-family: "Momo Trust Display", sans-serif;
  text-align: center;
}
 }